p{
    font-family: Arial;
}

#titulo-principal{
    color: blue;
}

.destaque{
    background-color: yellow;
}

.importante{
    color: red;
}

input[type="password"]{
    border-color: blue;
}

button:hover{
    background-color: greenyellow;
}